/*****************************************************************************/
/* Display
/*****************************************************************************/
.display\:flex {
  display: flex;
}

.display\:none {
  display: none;
}

/*****************************************************************************/
/* Flex Container
/*****************************************************************************/
.flex\:dir\:column {
  flex-direction: column;
}

.flex\:dir\:row {
  flex-direction: row;
}

.flex\:justify\:center {
  justify-content: center;
}

/*****************************************************************************/
/* Spacing
/*****************************************************************************/
.margin\:y\:base {
  margin-block: var(--xjumbo);
}
